<div class="w-[100vw] h-[100vh] overflow-hidden fixed left-0 top-0 bg-black bg-opacity-50 @(Visible ? "visible opacity-100" : "invisible opacity-0")  z-[999] flex items-center justify-center transition-all duration-300">
    <div class="flex flex-col gap-4 absolute min-w-96 min-h-64 bg-white p-4 rounded-md @(Visible ? "scale-[100%]" : "scale-[20%]") transition-all duration-300">
        <header class="flex items-center justify-between">
            <div class="text-lg font-bold text-gray-600">@Title</div>
            <div class="iconfont icon-closel text-gray-600 text-xl font-bold cursor-pointer" @onclick="OnCancel"></div>
        </header>
        <main class="flex-grow max-h-[37rem] overflow-y-auto">
            @Body
        </main>
        <footer class="flex items-center justify-end gap-6">
            <div @onclick="OnOk" class="button bg-blue-500 text-white px-6">@ConfirmButtonName</div>
            @if (!OneConfirmButton)
            {
                <div @onclick="OnCancel" class="button bg-white text-gray-600 px-6">@CancelButtonName</div>
            }
        </footer>
    </div>
</div>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public bool OneConfirmButton { get; set; } = false;

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string ConfirmButtonName { get; set; } = "确定";

    [Parameter]
    public string CancelButtonName { get; set; } = "取消";

    [Parameter]
    public EventCallback OnOk { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; } =@<div>请添加自定义模块</div>;
}
